.mi-navbar {
    background-color: #2c3e50;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 60px;
    position:sticky;
    top:0;
    z-index:9999 !important;
    flex-shrink: 0; /* No se encoje */
}

.mi-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 0;
}

.mi-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s;
    font-size: 15px;
    line-height: normal;
}

.mi-navbar li a:hover {
    background-color: #34495e;
    border-radius: 16px;
}

.mi-navbar li a.active {
    background-color: #3498db;
    color: white;
    border-radius: 16px;
}


.logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px !important;
    background-color: #2c3e50 !important;
    font-size: 16px !important;
    color: white !important;
}

.logout .user-info {
    color: white !important;
    font-weight: 500;
    margin-right: 5px;
}

.logout .separator {
    margin: 0 6px;
    color: white !important;
    font-weight: 500;
}

.logout .logout-link {
    color: white !important;
    text-decoration: none;
    font-weight: 500;
}

.logout .logout-link:hover {
    text-decoration: underline;
}

.logout a {
    color: inherit !important;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logout a:hover {
    color: red !important;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #2c3e50;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-top: auto;
}
